<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="walk.mvc.wishroad.model.mapper.WishroadMapper">
   
  <resultMap type="Wishroad" id="wishroadResultMap">
  <id property="wno" column="WNO"/>
  <result property="uno" column="UNO"/>
  <result property="rdno" column="RDNO"/>
  </resultMap>
  
  <resultMap id="roadMap" type="Road">
    <id column="RDNO" property="rdNo"/>
    <result column="ROADNM" property="roadNm"/>
    <result column="CRSLENGTH" property="crsLength"/>
    <result column="RUNTIME" property="runTime"/>
    <result column="CRS_LEVEL" property="level"/>
    <result column="INTRO" property="intro"/>
    <result column="S_LOCATION" property="s_location"/>
    <result column="F_LOCATION" property="f_location"/>
    <result column="CIRCLE" property="circle"/>
    <result column="THEME" property="theme"/>
    <result column="CRSPIC" property="crsPic"/>
    <result column="ROUTE" property="route"/>
    <result column="LIKES" property="likes"/>
  </resultMap>
  
  <!-- WISHROAD에 넣어주는 쿼리 -->
  <insert id="insertWishroad" parameterType="map">
  INSERT INTO WISHROAD VALUES (SEQ_WISH_NO.NEXTVAL, #{uno}, #{rdno})
  </insert>
  
  <!-- 내가 가고싶은 길 -->
    <select id="myWishroad" resultMap="roadMap" parameterType="int">
    select r.rdno as RDNO, r.roadnm as ROADNM, r.s_location as S_LOCATION, r.crspic as CRSPIC 
    from wishroad w inner join road r on r.rdno = w.rdno 
    where uno = #{uno} <!--#{uno} -->
    </select>
   
   <!--  내가 가고싶은 길 count -->
   <select id="myWishroadCount" resultType="int" parameterType="int">
    select count(*)
    from wishroad w inner join road r on r.rdno = w.rdno 
    where uno = #{uno} <!--#{uno} -->
    </select>
  
  </mapper>